@using MDoc.Services.Contract.DataContracts.User
@model LoginModel
@{
    Layout = "";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Document Management. Manage your document, access any where, any device, any time">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>LOGIN - MDoc</title>
    @Styles.Render("~/Content/coreCss")
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <h1>Login</h1>
                        if (@ViewData.ModelState.IsValid == false)
                        {
                            <div class="error-area">
                                @Html.ValidationMessage("InvalidUser")
                            </div>
                        }
                        <div>
                            @Html.ValidationMessageFor(m => m.LoginId)
                            @Html.TextBoxFor(m => m.LoginId, new {@class = "form-control",@placeholder="Login Id"})
                        </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                            <div class="text-left">
                                @Html.CheckBoxFor(m => m.IsRemember)
                                @Html.LabelFor(m => m.IsRemember)
                            </div>
                            <div>
                                .
                                <button class="btn btn-default" type="submit"><i class="fa fa-sign-in"></i> LOGIN</button>
                                <a class="reset_pass" href="#">Forgot your password?</a>
                            </div>
                            <div class="clearfix"></div>

                            <div class="separator">

                                <div class="clearfix"></div>
                                <br />

                                <div>
                                    <h1><i class="fa fa-book"></i> MDOC</h1>
                                    <p>©@DateTime.Now.Year All Rights Reserved. Power by Tho.Tran</p>
                                </div>
                            </div>
                    }
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>