<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Document Management</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Document Management. Manage your document, access any where, any device, any time">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryVal")
    @Html.Partial("_ExternalComponent")
    @Styles.Render("~/Content/coreCss")

</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
       @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="android-content mdl-layout__content">
            @Html.MvcSiteMap().SiteMapPath()
            <div class="body" id="mainContent">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/coreJs")
    @RenderSection("scripts", false)
</body>
</html>
