@model MDoc.Models.LoggedUser
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Main Function</h3>
        <ul class="nav side-menu">
            <li>
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "School")"><i class="fa fa-address-book"></i> Schools</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Document")"><i class="fa fa-graduation-cap"></i> Document</a>
            </li>
        </ul>
    </div>
    @if (Model.IsSuperAdmin || Model.IsCompanyAdmin)
    {
        <div class="menu_section">
            <h3>System Configuration</h3>
            <ul class="nav side-menu">
                <li>
                    <a href="@Url.Action("Index","Account")"><i class="fa fa-user"></i> Account </a>
                </li>
                <li>
                    <a href="@Url.Action("Information","Company")"><i class="fa fa-building"></i> Company Information </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Customer")"><i class="fa fa-group"></i> Customer</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Notice")"><i class="fa fa-newspaper-o"></i> Notices</a>
                </li>
            </ul>
        </div>
        <div class="menu_section">
            <h3>Report</h3>
            <ul class="nav side-menu">
                <li><a href="javascript:void(0)"><i class="fa fa-dashboard"></i> Dashboard <span class="label label-success pull-right">Coming Soon</span></a></li>
            </ul>
        </div>
    }
    
</div>
<!-- /sidebar menu -->