@using MDoc.Extensions
@using MDoc.Extensions.Options
@model MDoc.Services.Contract.DataContracts.CustomerModel
@{
    ViewBag.Title = Model.CustomerId > 0 ? "Update customer information" : "Add new customer";
}
@using (Html.BeginForm("Save", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.CustomerId)
    <div class="row row-margintop">
        <div class="col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.GenderId)
            @Html.ValidationMessageFor(m => m.GenderId)
            @Html.Select2AjaxFor(m => m.GenderId, Url.Action("Genders", "DataSource"), new Select2Option()
       {
           AllowClear = false,
           Width = "100%",
           MinimumInputLength = 0
       }, new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row row-margintop">
        <div class="col-md-2 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.DOB)
            @Html.ValidationMessageFor(m => m.DOB)
            @Html.Kendo().DatePickerFor(m => m.DOB).Format("MMM-dd-yyyy").HtmlAttributes(new {style = "width: 100%"})
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.Mobile)
            @Html.ValidationMessageFor(m => m.Mobile)
            @Html.TextBoxFor(m => m.Mobile, new {@class = "form-control"})
        </div>
        <div class="col-md-3 col-xs-12 col-sm-12">
            @Html.LabelFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>
    </div>
    <div class="row row-margintop">
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.CountryId)
            @Html.ValidationMessageFor(m => m.CountryId)
            @Html.Select2AjaxFor(m => m.CountryId, Url.Action("Countries", "DataSource"), new Select2Option()
       {
           AllowClear = true,
           MinimumInputLength = 1,
           Width = "100%",
           Placeholder = "Select country"
       }, new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.ProvinceId)
            @Html.ValidationMessageFor(m => m.ProvinceId)
            @Html.Select2AjaxFor(m => m.ProvinceId, Url.Action("Provinces", "DataSource"), new Select2Option()
       {
           AllowClear = true,
           MinimumInputLength = 1,
           Width = "100%",
           DependsOn = "CountryId",
           Placeholder = "Select province"
       }, new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.DistrictId)
            @Html.ValidationMessageFor(m => m.DistrictId)
            @Html.Select2AjaxFor(m => m.DistrictId, Url.Action("Districts", "DataSource"), new Select2Option()
       {
           AllowClear = true,
           MinimumInputLength = 1,
           Width = "100%",
           DependsOn = "ProvinceId",
           Placeholder = "Select district"
       }, new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.WardId)
            @Html.ValidationMessageFor(m => m.WardId)
            @Html.Select2AjaxFor(m => m.WardId, Url.Action("Wards", "DataSource"), new Select2Option()
       {
           Width = "100%",
           MinimumInputLength = 1,
           AllowClear = true,
           DependsOn = "DistrictId",
           Placeholder = "Select ward"
       }, new { @class = "form-control" })
        </div>
    </div>
    <div class="row row-margintop">
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.Address)
            @Html.ValidationMessageFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new {@class = "form-control"})
        </div>
    </div>
    <div class="row row-margintop">
        <div class="col-md-3 col-sm-12 col-xs-12">
            @Html.LabelFor(m => m.IdentityCardNo)
            @Html.ValidationMessageFor(m => m.IdentityCardNo)
            @Html.TextBoxFor(m => m.IdentityCardNo, new {@class = "form-control"})
        </div>

    </div>
    <div class="row row-margintop">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a class="btn btn-default" href="@Url.Action("Index", "Customer")"><i class="fa fa-backward"></i> Back to list</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>
}
